/*
 * Sidebar
 */
body{
    margin-bottom: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10;
    right: 10;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

#sidebarMenu {
    padding: 50px 10px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

img {
    border-radius: 100%;
    position: relative;
    border: 1px solid #cccccc;
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    opacity: 0;
}

.search_results {
    color: #f8f9fa;
    min-width: 250px;
}

.liveSearchProfilePic {
    max-width: 50px;
    max-height: 50px;
}

.search-dropdown {
    background-color: #f8f9fa;
    text-align: left;
    z-index: 1;
    position: fixed;
    min-width: 450px;
    width: 500px;
    top: 60px;
    right: 10px;
}

.resultsDisplay {
    margin: 2px 0;
    padding: 10px 0;
    width: unset;
    height: 90px;
    border-bottom: 3px solid #fff;
}

 .search-result {
     box-sizing: unset;
     width: 100%;
 }

 .liveSearchProfilePic,
 .liveSearchText,
 .row-container {
     padding: 2px;
     margin: 2px;
 }

 .search_results_footer{
     padding: 5px;
     text-align: center !important;
 }