/*
 * Sidebar
 */
body{
    margin-bottom: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10;
    right: 10;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

img {
    border-radius: 100%;
    position: relative;
    border: 1px solid #cccccc;
    max-width: 95%;
    max-height: 95%;
}

.hidden {
    opacity: 0;
}
