/*
 * Main Stylesheet
 */
body{
    margin-bottom: 50px;
    
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10;
    right: 10;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

#sidebarMenu {
    padding: 60px 10px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        
    }
}

.posts_area {
    margin: 0 !important;
    background-image: url('assets/images/backgrounds/texture.png');
}

img {
    /* position: relative; */
    border: 1px solid hsl(0, 0%, 55%);
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    opacity: 0;
}

.search_results {
    color: #f8f9fa;
    min-width: 250px;
}

.liveSearchProfilePic {
    max-width: 50px;
    max-height: 50px;
}

.search-dropdown {
    background-color: #f8f9fa;
    text-align: left;
}

.resultsDisplay {
    margin: 2px 0;
    padding: 10px 0;
    width: unset;
    height: 90px;
    border-bottom: 3px solid #fff;
}

 .search-result {
     box-sizing: unset;
     width: 100%;
 }

 .liveSearchProfilePic,
 .liveSearchText,
 .row-container {
     padding: 2px;
     margin: 2px;
 }

 .search_results_footer{
     padding: 5px;
     text-align: center !important;
 }


.profile-box {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 7%;
    width: 70%;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    padding: 5px;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.profile-header {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
 
}

.profile-header>h1 {
    margin-top: 0;
    margin-bottom: 3px;

}

input[type="submit"] {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    margin: 5px 0px 10px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    display: flexbox;
}

input[type="submit"]:hover {
    border-color: #3f3d3d;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type='tel'],
textarea {
    position: relative;
    padding: 5px 10px;
    border: 1px solid #cccccc;
    margin: 5px 0px 10px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    height: 35px;
    width: 75%;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="file"]:hover,
input[type='tel'],
textarea:hover {
    border-color: #3f3d3d;
}

input[type="number"],
input[type='textarea']{
    min-width: 300px;
}

textarea {
    height: auto;
}


.profile-sidebar-image {
    border-radius: 0;
    position: relative;
}

.social-media {
    width: 32px !important;
    height: 32px !important;
    padding: 1px;
}